*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Nav Design Strt */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.blue-button {
    font-family: "Inter", sans-serif;
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #1e40af;
    cursor: pointer;
}

nav a:hover {
    color: #1d4ed8;
    background-color: lightblue;
    border-radius: 6px;
}

nav a{
    padding: 6px 12px;
}
nav ul{
    font-family: "Arimo", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
    background-color: white;
}
nav ul li a {
    text-decoration: none;
    color: #575757;
}
/* Nav Design End */

/* Hero Sec Design Start */
.hero-main {
    font-family: "Inter", sans-serif;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 829px;
}

.hero h1 {
    color: #ffffff;
    font-size: 48px;
    margin: 0;
}

.hero p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.09;
    margin: 0;
}
.hero button{
    margin-top: 400px;
}
/* Hero Sec Design End */

/* Speakers Section Design */
.speakers-main{
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding: 80px 0px;
}
.speakers-sub h2{
    font-size: 56px;
    font-weight: 700;
    color: #000102FF;
    line-height: 1.1500000272478377;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    align-self: stretch;
    margin-bottom: 48px;
}
.speakers-card-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    
}
.speakers-card{
    width: 644px;
    left: -1px;
    top: 0px;
    background: #ffffffFF;
    border: 1px solid #e5e7ebFF;
    text-align: left;
    border-radius: 12px 12px 12px 12px;
    padding-bottom: 20px;
    
}
.speakers-card img{
    width: 642px;
    height: 324px;
    object-fit: cover;
    
}
.speakers-card .dep{
    color: #2563ebFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 8px;

}
.speakers-card h3{
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    padding-left: 20px;

}
.speakers-card .designation{
    color: #575757FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;  
    padding-left: 20px;

}
/* Speakers Section Design End */