*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Nav Design Strt */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.blue-button {
    font-family: "Inter", sans-serif;
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #1e40af;
    cursor: pointer;
}

nav a:hover {
    color: #1d4ed8;
    background-color: lightblue;
    padding: 6px 12px;
    border-radius: 6px;
}
nav ul{
    font-family: "Arimo", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
    background-color: white;
}
nav ul li a {
    text-decoration: none;
    color: #575757;
}
/* Nav Design End */

/* Hero Sec Design Start */
.hero-main {
    font-family: "Inter", sans-serif;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 829px;
}

.hero h1 {
    color: #ffffff;
    font-size: 48px;
    margin: 0;
}

.hero p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.09;
    margin: 0;
}
.hero button{
    margin-top: 400px;
}
/* Hero Sec Design End */